<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>wwpinfo</title>
    {% block head %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/main.css">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
    <div class="container">
    {% block header %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">WWPInfo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% block home-active %}{% endblock %} ><a href="/">Home</a></li>
            <li {% block contact-active %}{% endblock %} ><a  href="/contact">Contact Us</a></li>
            <li {% block events-active %}{% endblock %} ><a href="/events">Events</a></li>
            <li {% block wwlinks-active %}{% endblock %} ><a  href="west-windsor-links">West Windsor Links</a></li>
            <li {% block plinks-active %}{% endblock %} ><a href="plainsboro-links">Plainsboro Links</a></li>
            <li {% block slinks-active %}{% endblock %} ><a href="school-links">School Links</a></li>
            <li {% block archives-active %}{% endblock %} ><a href="archives">Archives</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>
